<%- include('../views/includes/head.ejs') %> 
</head>
<body>
  <h1>Hello World</h1>
  <a href="/add-question">add a new question</a>
  <a href="/all-questions">All Questions</a>   

<%- include('../views/includes/end.ejs') %> 