<%- include('../views/includes/head.ejs') %> 
</head>
<body>
  <%- include('../views/includes/nav.ejs') %> 
  <h1>Study Hall</h1>
  <h4>Questions</h4>
  <a href="/section/1">Javascript</a>
  <a href="/section/2">Nodejs</a>
  <a href="/section/3">React</a>   

<%- include('../views/includes/end.ejs') %> 